.card {
  margin: 2em auto;
  height: 34em;
  width: 80%;
}

.wrapper {
  margin: auto 1em;
}

.left-section {
  float: left;
  min-height: 85% !important;
  width: 34%;
}

.wrapper-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
  min-height: 20em;
}

.logo {
  background-color: rgba($color: #1122ef, $alpha: 0.35);
  padding: 2em;

  box-shadow: 10px 6px 6px #3333af;

  .mat-mdc-card-content:first-child {
    padding-top: 0 ;
  }
}

.right-section {
  float: right;
  width: 65%;
}

.register {
  padding: 0.7em;
}

.fields {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
}
